<div class="skeleton-comment" aria-hidden="true">
  <div class="skeleton-header">
    <div class="skeleton-avatar"></div>
    <div class="skeleton-info">
      <div class="skeleton-text skeleton-username"></div>
      <div class="skeleton-text skeleton-date"></div>
    </div>
  </div>
  
  <div class="skeleton-content">
    <div class="skeleton-text skeleton-line"></div>
    <div class="skeleton-text skeleton-line"></div>
    <div class="skeleton-text skeleton-line short"></div>
  </div>
</div>
