<div class="skeleton-profile" aria-hidden="true">
  <div class="skeleton-avatar-large"></div>
  <div class="skeleton-text skeleton-name"></div>
  <div class="skeleton-text skeleton-email"></div>
</div>

<div class="skeleton-activities" aria-hidden="true">
  <div class="skeleton-text skeleton-header"></div>
  
  <div class="skeleton-activity">
    <div class="skeleton-icon"></div>
    <div class="skeleton-activity-content">
      <div class="skeleton-text skeleton-label"></div>
      <div class="skeleton-text skeleton-value"></div>
    </div>
  </div>
  
  <div class="skeleton-activity">
    <div class="skeleton-icon"></div>
    <div class="skeleton-activity-content">
      <div class="skeleton-text skeleton-label"></div>
      <div class="skeleton-text skeleton-value"></div>
    </div>
  </div>
</div>
