<mat-card class="filters-container">
    <mat-card-header>
        <mat-card-title class="card-filter-title">
            <mat-icon>filter_alt</mat-icon>
            <span>Filtros</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="filter-list">
            <li>
                @if (this.statusFlag() === statusFlagEnumm.OK) {
                    <div class="filter-title">
                        <mat-icon>sell</mat-icon>
                        <span>Categorias</span>
                    </div>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked">
                    @for (category of this.allCategories(); track $index) {
                            <mat-chip-option (selectionChange)="selectFilter($event, category.id)">
                                <span>{{category.name}}</span>
                                <span matChipTrailingIcon>{{category.topicCount}}</span>
                            </mat-chip-option>
                        }
                    </mat-chip-listbox>
                }
                @else {
                    <div class="status-message-container">
                        @if (this.statusFlag() === statusFlagEnumm.LOADING) {
                            <mat-spinner></mat-spinner>
                            <span>Buscando filtros</span>
                        }
                        @else {
                            <mat-icon>
                                web_asset_off
                            </mat-icon>
                            <span>Não foi possível recuperar filtros</span>
                        }
                    </div>
                }
            </li>
        </ul>
    </mat-card-content>
</mat-card>