ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

mat-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    background: #FFFFFF;
    box-shadow: none;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
}

mat-card-header {
    padding: 0;
}

mat-card-title {
    width: 100%;
}

mat-card-content {
    padding: 0;
}

mat-card-content:last-child {
    padding: 0;
}

.filters-container {
    max-width: 30rem;
}

.card-filter-title {
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-title {
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.status-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}