ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

mat-expansion-panel {
    background: none;
    box-shadow: none !important;
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filter-title {
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.status-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}