mat-card {
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-left: 2rem;
    gap: 2rem;

    background: var(--bg-secondary);
    box-shadow: none;
    border: 1px solid var(--border-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

mat-card:hover {
    cursor: pointer;
}

mat-card-header {
    padding: 0;
}

mat-card-title {
    width: 100%;
}

mat-card-footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat .value {
    font-size: 1.5rem;
}

.card-content-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pfp-container {
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    border-radius: 50%;
    overflow: hidden;

    background: var(--bg-tertiary);
    transition: background-color 0.3s ease;
}

.pfp-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 959px) {
    .stats-container {
        border-top: 1px solid var(--border-color);
        padding-top: 1rem;
        flex-direction: row;
        justify-content: flex-start;
    }

    .stat {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .stat .value {
        font-size: 1rem;
    }

    mat-card-footer {
        flex-direction: column;
        gap: 1rem;
    }
}