<div class="container">
    <aside class="filters-container">
        <app-filters-card></app-filters-card>
    </aside>
    <div class="main-content-container">
        <div class="top-actions">
            <div class="ownership-filter-toggle">
                <button [matButton]="this.activeAuthorFilter() === 'all' ? 'filled' : 'text'" (click)="authorFilter('all')">Todos</button>
                <button [matButton]="this.activeAuthorFilter() === 'user' ? 'filled' : 'text'" [disabled]="" (click)="authorFilter('user')">Meus tópicos</button>
            </div>
            <div class="sort-options">
                <button [matButton]="this.activeSort() === 'date' ? 'filled' : 'text'" value="date" (click)="sortList('date')">Mais recente</button>
                <button [matButton]="this.activeSort() === 'moreLiked' ? 'filled' : 'text'" value="like" (click)="sortList('moreLiked')">Mais curtido</button>
            </div>
        </div>
        @if (this.statusFlag() === StatusFlagEnum.OK) {
            @for (topic of this.homeService.topicListRes().list; track $index) {
                <app-topic-card [topic]="topic"></app-topic-card>
            }
            <app-pagination></app-pagination>
        }
        @else {
            <div class="message-topic-list-container">
                @if (this.statusFlag() === StatusFlagEnum.LOADING) {
                    <mat-spinner class="loading-spinner"></mat-spinner>
                    <p>Buscando tópicos...</p>
                }
                @else if (this.statusFlag() === StatusFlagEnum.ERROR) {
                    <mat-icon class="fail-icon">web_asset_off</mat-icon>
                    <p>Não foi possível recuperar os tópicos</p>
                }
                @else {
                    <mat-icon class="fail-icon">question_mark</mat-icon>
                    <p>Não existe nenhum tópico com essas características no momento...</p> 
                    <p><strong>Seja o primeiro a postar!</strong></p>
                }
            </div>
        }
    </div>
</div>