.container {
    display: flex;
    gap: 1rem;
}

.main-content-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-actions {
    display: flex;
    justify-content: space-between;
}

.ownership-filter-toggle {
    display: flex;
    background: #ECECF0;
    border-radius: 2rem;
}

.message-topic-list-container {
    width: 100%;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fail-icon {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}

.loading-spinner {
    size: 2rem;
}