.container {
    max-width: 72rem;
    margin: 0 auto;
    padding: 2rem 0;
    
    display: flex;
    flex-direction: column;
}

.nav-and-actions {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
}

.nav-buttons-container {
    display: flex;
    gap: 0.25rem;
}