mat-toolbar{
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    width: 100%;
    padding: 1rem 0;
    justify-content: center;

    background: #FFFFFF;
}

.container {
    max-width: 72rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    overflow: hidden;
}

.logo-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;
    
    border-radius: 50%;

    background: #DDDDDD;

    overflow: hidden;
}

.pfp-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pfp-container {
    text-decoration: none;
    color: #000000;
}

mat-icon {
    color: #333333;
}