/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import './theme-globals.css';

html, body { height: 100%; }
body { margin: 0; font-family: "Arimo", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
