mat-form-field {
    width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: var(--bg-tertiary);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
}

::ng-deep .mdc-notched-outline__leading,
::ng-deep .mdc-notched-outline__notch,
::ng-deep .mdc-notched-outline__trailing {
    border-color: transparent !important;
    border-width: 2px !important;
}

::ng-deep mat-form-field:hover .mdc-notched-outline__leading,
::ng-deep mat-form-field:hover .mdc-notched-outline__notch,
::ng-deep mat-form-field:hover .mdc-notched-outline__trailing {
    border-color: transparent !important;
}

::ng-deep mat-form-field.mat-focused .mdc-notched-outline__leading,
::ng-deep mat-form-field.mat-focused .mdc-notched-outline__notch,
::ng-deep mat-form-field.mat-focused .mdc-notched-outline__trailing {
    border-color: var(--border-color) !important;
    border-width: 2px !important;
}